body {
	width: 800px;
	margin: 0 auto;
	font-family: Roboto,sans-serif;
	color: #293a46;
	background-color: #f8f8f8;
	font-weight: 300;
}

h1, h2 {
    text-align: center;
}

h1 {
	font-size: 38px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	font-weight: 300;
}

li {
	list-style-type: none;
	border-top: 5px solid #2A90D5;
	background-color: #fff;
	box-shadow: 0 2px 20px rgba(0,0,0,0.2);
	border-radius: 5px;
	margin: 15px;
	padding: 15px;
}